
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@model TOTOGROUP.Models.tblNew
<article>
    <div class="Root">
        @Html.Raw(ViewBag.nUrl)
    </div>
    <div class="Clear"></div>
    <div id="News">
        <h1>@Model.Name</h1>
        <div class="Line_ft"></div>

        <div id="ContentNews">
            <article>
                <div id="LeftNews">
                    <div class="Description">@Html.Raw(Model.Description)</div>
                    @Html.Raw(ViewBag.chuoinew)
                    <div class="ContentNew">
                        @Html.Raw(Model.Content)
                    </div>
                    <div class="Author">
                        <span>Nguồn : TOTOGROUP.vn</span>
                    </div>
                    <div id="Comment">
                        <div class="nVar_2">
                            <span>Nhận xét đánh giá</span>
                        </div>
                        <div id="Sluion">
                            <div class="Mxh" style="float: left; width: 270px; margin-left: 2px">
                                <div class="fb-like" data-send="true" data-layout="button_count" data-width="60"
                                     data-show-faces="true">
                                </div>

                                <div id="g" style="float: left; margin: 7px 5px; height: 15px; width: 20px">
                                    <g:plusone size="medium"></g:plusone>
                                </div>
                            </div>
                        </div>
                        <div id="review">
                            <span class="rv1">Cho điểm chất lượng sản phẩm</span>
                            <span class="rv2">Mời bạn đánh giá về bài viết @Model.Name</span>
                            <div id="Content_review">
                                <input type="radio" name="review" value="1" class="rd1" /> <img src="~/Content/Display/iCon/rating_1_rstar.gif" alt="1 điểm" />
                                <input type="radio" name="review" value="2" class="rd2" /><img src="~/Content/Display/iCon/rating_2_rstar.gif" alt="2 điểm" />
                                <input type="radio" name="review" value="3" class="rd3" /><img src="~/Content/Display/iCon/rating_3_rstar.gif" alt="3 điểm" />
                                <input type="radio" name="review" value="4" class="rd4" /><img src="~/Content/Display/iCon/rating_4_rstar.gif" alt="4 điểm" />
                                <input type="radio" name="review" value="5" class="rd5" /><img src="~/Content/Display/iCon/rating_5_rstar.gif" alt="5 điểm" />
                            </div>
                        </div>
                        <div id="ConmentFacebook"><div class="fb-comments" data-href="@Request.Url.ToString()" data-num-posts="20" style="width:100%; float:left; margin:0px" width="100%"></div></div>
                    </div>
                    <div class="Clear"></div>
                    <div class="ListNewsLienquan">
                        <span class="name_ListNewsLienquan">Tin tức MỚI</span>
                        <ul>
                            @Html.Raw(ViewBag.chuoinewnews)
                        </ul>
                    </div>
                </div>
            </article>
            <aside>
                @{Html.RenderAction("PartialRightNews", "News");}
            </aside>
        </div>
    </div>
    <div class="Clear"></div>
</article>
@Html.Raw(ViewBag.Coppy)
<div id="LinkURL">
    @Html.Raw(ViewBag.chuoi)
</div>
<div class="Clear"></div>
<div class="boxlink">
    <a href="http://maylocnuocgiengkhoan.com" title="Máy lọc nước giếng khoan">Máy lọc nước giếng khoan</a> bạn sẽ tìm mua <a href="http://karofichinhhang.vn" title="Máy lọc nước karofi">Karofi Chính hãng</a> rồi lại tìm  <a href="http://thegioibinhnonglanh.vn" title="Bình nóng lạnh" style="color:#13439c; font-size:5px">Thegioibinhnonglanh.vn</a>,
    <a href="http://thayloilocnuoc.com" title="Thay lõi lọc nước kangaroo tại nhà" style="color:#13439c; font-size:5px">Thay lõi lọc nước kangaroo tại nhà</a> <a href="http://loiloc.com" title="Lõi lọc nước">Lõi lọc nước</a> hay <a href="http://viglaceravietnam.com" title="Thiết bị vệ sinh viglacera">thiết bị vệ sinh Viglacera</a> hay sản phẩm <a href="http://viglaceravietnam.com/gach-op-lat-viglacera" title="Gạch ốp lát">Gạch ốp lát</a> cùng với 	<a href="http://viglaceravietnam.com" title="Bồn cầu viglacera">Bồn cầu Viglacera</a> hay 	<a href="http://viglaceravietnam.com/sen-voi-viglacera" title="Sen vòi Viglacera">Sen vòi Viglacera</a>
    hoặc bạn có thể mua     <a href="http://Kangaroochinhhang.vn" title="Kangaroo" style="color:#13439c; font-size:5px">Kangaroo chính hãng</a>, hoặc chọn sản phẩm   <a href="https://kangaroochinhhang.vn/may-loc-nuoc-kangaroo" title="Máy lọc nước Kangaroo giá rẻ" style="color:#13439c; font-size:5px">Máy lọc nước Kangaroo</a> thì bạn nên  <a href="https://kangaroochinhhang.vn/loi-loc-nuoc-kangaroo" title="Lõi lọc nước kangaroo" style="color:#13439c; font-size:5px">Lõi lọc nước kangaroo chính hãng</a>

</div>